<div class="modal-container">
  <mat-dialog-content class="modal-content">
    <div class="section">
      <h3 class="section-title">Personal Information</h3>
      <div class="info-row">
        <mat-icon>person</mat-icon>
        <div class="info-container">
          <span class="info-label">Username</span>
          <span class="info-value">{{ data.username }}</span>
        </div>
      </div>

      <div class="info-row">
        <mat-icon>badge</mat-icon>
        <div class="info-container">
          <span class="info-label">Last Name</span>
          <span class="info-value">{{ data.lastname }}</span>
        </div>
      </div>

      <div class="info-row">
        <mat-icon>email</mat-icon>
        <div class="info-container">
          <span class="info-label">Email</span>
          <span class="info-value">{{ data.emailAddress }}</span>
        </div>
      </div>

      <div class="info-row">
        <mat-icon>phone</mat-icon>
        <div class="info-container">
          <span class="info-label">Phone</span>
          <span class="info-value">{{ data.phone }}</span>
        </div>
      </div>

      <div class="info-row">
        <mat-icon>cake</mat-icon>
        <div class="info-container">
          <span class="info-label">Birthday</span>
          <span class="info-value">{{ data.birthday.day }}.{{ data.birthday.month }}.{{ data.birthday.year }}</span>
        </div>
      </div>
    </div>

    <div class="section">
      <h3 class="section-title">Address</h3>
      <div class="info-row">
        <mat-icon>flag</mat-icon>
        <div class="info-container">
          <span class="info-label">State</span>
          <span class="info-value">{{ data.address.state }}</span>
        </div>
      </div>

      <div class="info-row">
        <mat-icon>map</mat-icon>
        <div class="info-container">
          <span class="info-label">Region</span>
          <span class="info-value">{{ data.address.region }}</span>
        </div>
      </div>

      <div class="info-row">
        <mat-icon>location_city</mat-icon>
        <div class="info-container">
          <span class="info-label">City</span>
          <span class="info-value">{{ data.address.city }}</span>
        </div>
      </div>

      <div class="info-row">
        <mat-icon>home</mat-icon>
        <div class="info-container">
          <span class="info-label">Street</span>
          <span class="info-value">{{ data.address.street }}</span>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
